html {
    font-size: 16px;
}

body {
    background: #eeee;
    font-family: "Sora", sans-serif;
}

.principal {
    height: 90vh;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: #155263;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #eeee;
}

.principal__title {
    font-weight: 800;
    font-size: 2rem;
}

.principal__subtitle {
    margin-top: -40px;

}

.brand {
    font-size: 40px;
    font-family: "Raleway", sans-serif;
}

.slogan {
    font-family: "Sora", sans-serif;
    letter-spacing: 3px;
}

.contacto {
    background-color: #fed049;
    border-radius: 20px;
    color: #eeee;
}

.social-media__links{
    font-size: 1rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    
}

.social-media__link{
    color: pink;
}

/* MEDIUM | Entre 768px y 991px 
 */
/* Bootstrap breakpoints MD y superiores */
@media (min-width: 768px) {

    .principal__title {
        font-size: 2.3rem;
    }
}

/* LARGE | Entre 992px y 1199px
 */
/* Bootstrap breakpoints LG y superiores */
@media (min-width: 992px) {

    /* Tus estilos para dispositivos large y superiores van aquí */
    .principal__title {
        font-size: 4rem;
    }
}





