html {
    font-size: 16px;
}

body {
    background: #eeee;
    font-family: "Sora", sans-serif;
}

.principal {
    height: 80vh;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: #155263;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #eeee;
}

.principal__title {
    font-weight: 800;
    font-size: 2rem;
}

.principal__subtitle {
    margin-top: -40px;
}

.brand__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.brand__isotipo {
    width: 20%;
}
.brand {
    font-size: 3rem;
    font-family: "Raleway", sans-serif;
}

.slogan {
    font-family: "Sora", sans-serif;
    letter-spacing: 3px;
    margin-top: -40px;
}

.contacto {
    position: relative; /* Cambia a 'absolute' si quieres que se posicione en relación a su contenedor más cercano con 'position: relative' */
    background-color: #fed049;
    border-radius: 20px;
    width: 25%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    /* Posicionamiento deseado */
    top: -50px; /* Ajusta este valor según la distancia que quieras subir el contenedor */
    right: -20%; /* Ajusta este valor para desplazar el contenedor hacia la derecha */
}

.social-media__links{
    font-size: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.social-media__link i{
    color:#155263 ;
}

.firma {
    text-align: center;
    font-family: "Raleway", sans-serif;
    color: #155263;
    }

.firma__link {
    text-decoration: none;
    font-weight: 800;
    color: #155263;
    }

.firma__link:hover {
    color: red;
    transition: 0.3s;
}

/* MEDIUM | Entre 768px y 991px 
 */
/* Bootstrap breakpoints MD y superiores */
@media (min-width: 768px) {

    .principal__title {
        font-size: 2.3rem;
    }
}

/* LARGE | Entre 992px y 1199px
 */
/* Bootstrap breakpoints LG y superiores */
@media (min-width: 992px) {

    /* Tus estilos para dispositivos large y superiores van aquí */
    .principal__title {
        font-size: 4rem;
    }
}





