body {
    background: #eeee;
}

.principal {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    color: black
}

.principal h1 {
    font-family: 'popins', sans-serif;
    font-weight: 800;
    font-size: 30px;
}

.principal h2 {
    margin-top: 30px;
}

.principal h2 span {
    font-size: 40px;
    font-family: 'azonix', sans-serif;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: #ba0c2f;
}

.principal h4 {
    font-size: 16px;
    font-weight: 700;
    color: grey;
    letter-spacing: 10px;
}

.principal h3 {
    font-family: 'nunito', sans-serif;
    font-size: 25px;
    line-height: 0.6;
}


.contacto nav ul li i {
    color: white;
    font-size: 40px;
}

/*Pantalla celular*/
@media only screen and (min-width: 320px) {

    
}


/*Pantalla tablet*/
@media only screen and (min-width: 576px) and (max-width: 767px) {}
.principal h1 {
    font-size: 40px;
}
/*Pantalla notebook*/
@media only screen and (min-width: 768px) {
    .principal h1 {
        font-size: 55px;
    }
}

/*Pantalla Desktop*/
@media only screen and (min-width: 992px) {
    .principal h1 {
        font-size: 80px;
    }
}
